body {
    text-align: center;
    padding: 0%;
    margin: 0%;
    background-color: black;
}

header {
    background-image: url(imagensProdutos/imagemInfo1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0 auto;
    width: auto;
    height: auto;
    padding: 15%;
}

h1 {
    color: white;
    font-size: 400%;
}

h2 {
    color: white;
    font-size: 200%;
}

.img1 {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
}

.img2 {
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    margin: 30px;
}

.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 {
    margin: 30px;
    width: 100px;
    height: 50px;
}

.p1 {
    color: aliceblue;
}